header{
  background: grey;
  padding: 0;
  border-bottom: 1px solid rgba(1, 2, 0, 0.856);
}

div a{
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10rem;

}

div a:hover{
  background: grey;
  color: white;
}

.container{
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo{
  font-weight:bold;
  padding: 1em;
}

nav ul{
  list-style: none;
  margin: 0;
}

nav ul li a {
  padding: 1em;
  display: inline-block;
  
}
