
<header>
<div class="container">
  <a href="#" router routerLink="/" class="logo">Sculpting Men</a>
  <nav>
    <ul>
      <li>
        <a href="#" routerLink="/nav-page">Home</a>
        <a href="#" routerLink="/shop">Shop</a>
        <a href="#" routerLink="/nav-page">Events</a>
        <a href="#" routerLink="/nav-page">Services</a>
        <a href="#" routerLink="/nav-page">Testimonials</a>
        <a href="#" routerLink="/nav-page">Blogs</a>
        <a href="#" routerLink="/nav-page">Groups</a>
        <a href="#" routerLink="/nav-page">FAQ's</a>
        <a href="#" routerLink="/nav-page">Contact Us</a>
        <a href="#" routerLink="/nav-page">About Us</a>
        <a href="#" routerLink="/nav-page">Sign Up/Sign In</a>
      </li>
    </ul>
  </nav>
</div>
</header>
