<header>
<div class="container">
  <a href="#" router routerLink="/" class="logo">Sculpting Men</a>
  <nav>
    <ul>
      <li>
        <a href="#" routerLink="/nav/homepage">Home</a>
        <a href="/shop" routerLink="/nav/shop">Shop</a>
        <a href="#" routerLink="/nav/events">Events</a>
        <a href="#" routerLink="/nav/services">Services</a>
        <a href="#" routerLink="/nav/testimonies">Testimonials</a>
        <a href="#" routerLink="/nav/blogs">Blogs</a>
        <a href="#" routerLink="/nav/FAQS">FAQ's</a>
        <a href="#" routerLink="/nav/contact">Contact Us</a>
        <a href="#" routerLink="/nav/about">About Us</a>
        <!-- <a href="/login" routerLink="/nav/login">Register/Log In</a> -->
        <a routerLink="/login" skipLocationChange="" >Login</a>
      </li>
    </ul>
  </nav>
</div>
</header>
